<div class="page page-sales">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header"><md-icon>add_shopping_cart</md-icon> Vendas</h2>
        </div>
        <div class="col-md-12">
            <article>
                <md-card class="no-margin-h">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Edição</span>
                        </div>
                    </md-toolbar>
                    <div class="panel-body padding-xl">
                        <div class="row">
                            <div class=" col-lg-8 col-lg-offset-2">
                                <div layout="column" ng-cloak class="md-inline-form">
                                    <div layout-padding>
                                        <form name="editForm" ng-submit="save()">

                                            <div layout layout-xs="column">
                                                <md-input-container flex>
                                                    <label>Valor Bruto</label>
                                                    <input name="grossValue" ng-model="sale.gross_value" ui-money-mask required>
                                                    <div ng-messages="editForm.grossValue.$error" multiple ng-if='editForm.grossValue.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                        <div ng-message="pattern">O Valor Bruto deve ser entrado em números e ponto como separador decimal.</div>
                                                    </div>
                                                </md-input-container>

                                                <md-input-container flex>
                                                    <label>Data da Venda</label>
                                                    <md-datepicker name="salesDate" ng-model="sale.sales_date" ng-disabled="sale.id" md-open-on-focus required></md-datepicker>
                                                    <div ng-messages="editForm.salesDate.$error" multiple ng-if='editForm.salesDate.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>NSU</label>
                                                    <input name="nsu" ng-model="sale.nsu" ng-disabled="sale.id && sale.nsu" ng-pattern="/^[A-Za-z0-9]+$/" required>
                                                    <div ng-messages="editForm.nsu.$error" multiple ng-if='editForm.nsu.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                        <div ng-message="pattern">O NSU deve ser entrado em números e(ou) letras. Não são permitidos caracteres especiais.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Modalidade</label>
                                                    <md-select name="payment_method" ng-model="sale.tax.payment_methods_id" ng-change="onChangePaymentMethod()" ng-disabled="sale.id" required>
                                                        <md-option ng-repeat="paymentMethod in paymentMethods track by paymentMethod.id" ng-value="paymentMethod.id">{{paymentMethod.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.paymentMethod.$error" multiple ng-if='editForm.paymentMethod.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Bandeira</label>
                                                    <md-select name="flag" ng-model="sale.tax.flags_id" ng-change="onChangeFlag()" ng-disabled="!sale.tax.payment_methods_id || sale.id" required>
                                                        <md-option ng-repeat="flag in flags | filter:{payment_methods_id: sale.tax.payment_methods_id} track by flag.id" ng-value="flag.id">
                                                            <img ng-if="flag.photo_url" ng-src="{{flag.photo_url}}" class="img-circle img-option">
                                                            <md-icon ng-if="!flag.photo_url">visibility_off</md-icon>
                                                            {{flag.name}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.flag.$error" multiple ng-if='editForm.flag.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column" ng-if="!isVoucher()">
                                                <md-input-container flex>
                                                    <label>Operadora</label>
                                                    <md-select name="operator" ng-model="sale.tax.additional.operators_id" ng-change="checkSale()" ng-disabled="!sale.tax.payment_methods_id || sale.id" required>
                                                        <md-option ng-repeat="operator in operators track by operator.id" ng-value="operator.id">{{operator.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.operator.$error" multiple ng-if='editForm.operator.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column" ng-if="isVoucher()">
                                                <md-input-container flex>
                                                    <label>Produto Voucher</label>
                                                    <md-select name="payment_method" ng-model="sale.tax.additional.voucher_products_id" ng-change="checkSale()" ng-disabled="!sale.tax.payment_methods_id || sale.id" required>
                                                        <md-option ng-repeat="voucherProduct in voucherProducts track by voucherProduct.id" ng-value="voucherProduct.id">{{voucherProduct.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.voucherProduct.$error" multiple ng-if='editForm.voucherProduct.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-xs="column" ng-if="isParcelado() && (sale.tax.parcels || sale.tax.additional.parcels)">
                                                <div flex="15" flex-sm="20" flex-xs="100" layout layout-align="start center">
                                                    <span>Parcelas</span>
                                                </div>
                                                <md-slider flex class="md-primary" md-discrete ng-model="sale.parcels" step="1" min="1" max="{{sale.tax.parcels || sale.tax.additional.parcels}}" ng-disabled="sale.id" aria-label="Parcelas"></md-slider>
                                            </div>

                                            <md-button type="submit" class="md-raised btn-w-md md-primary" ng-hide="saving" ng-disabled="editForm.$invalid || !sale.taxes_id">Salvar</md-button>
                                            <md-progress-circular ng-show="saving" md-diameter="25px"></md-progress-circular>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </article>
        </div>
    </div>
</div>
