<div layout-padding ng-cloak layout="column" class="md-inline-form">
    <form name="creditoEditForm" ng-submit="save()">

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Operadora</label>
                <md-select name="operators" ng-model="tax.additional.operators_id" ng-disabled="tax.id" ng-change="check()" required>
                    <md-option ng-repeat="operator in operators track by operator.id" ng-value="operator.id">{{operator.name}}</md-option>
                </md-select>
                <div ng-messages="debitoEditForm.operators.$error" multiple>
                    <div ng-message="required">A operadora é obrigatória.</div>
                </div>
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Bandeira</label>
                <md-select name="flag" ng-model="tax.flags_id" ng-disabled="tax.id" ng-change="check()" required>
                    <md-option ng-repeat="flag in flags | filter:{type:'CREDITO'} track by flag.id" ng-value="flag.id">
                        <img ng-if="flag.photo_url" ng-src="{{flag.photo_url}}" class="img-circle img-option">
                        <md-icon ng-if="!flag.photo_url">visibility_off</md-icon>
                        {{flag.name}}
                    </md-option>
                </md-select>
                <div ng-messages="debitoEditForm.flag.$error" multiple>
                    <div ng-message="required">A bandeira é obrigatória.</div>
                </div>
            </md-input-container>
        </div>

        <div layout layout-xs="column">
            <md-input-container flex>
                <label>Porcentagem da Taxa</label>
                <input name="taxPercentage" ng-model="tax.tax_percentage" ui-percentage-mask>
                <div ng-messages="creditoEditForm.taxPercentage.$error" multiple ng-if='creditoEditForm.taxPercentage.$dirty'>
                    <div ng-message="pattern">A Porcentagem da Taxa deve ser entrada em números e ponto como separador decimal.</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label>Prazo</label>
                <input name="paymentDeadlineDays" ng-model="tax.payment_deadline_days" ng-pattern="/^[0-9]+$/">
                <div ng-messages="creditoEditForm.paymentDeadlineDays.$error" multiple ng-if='creditoEditForm.paymentDeadlineDays.$dirty'>
                    <div ng-message="pattern">O prazo deve ser entrado em números inteiros.</div>
                </div>
            </md-input-container>
        </div>

        <md-button type="submit" class="md-raised btn-w-md md-primary" ng-hide="saving" ng-disabled="creditoEditForm.$invalid">Salvar</md-button>
        <md-progress-circular ng-show="saving" md-diameter="25px"></md-progress-circular>
    </form>
</div>
