<div class="page page-flags">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header"><md-icon>settings</md-icon> Configuração de Taxas</h2>
        </div>
        <div class="col-md-12">
            <article>
                <md-card class="no-margin-h">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>{{ tax.id ? 'Edição' : 'Criação' }}</span>
                        </div>
                    </md-toolbar>
                    <div class="panel-body padding-xl">
                        <div layout="row" layout-sm="column" layout-align="space-around" layout-padding ng-if="loading">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <div class="row" ng-if="!loading">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div layout layout-sm="column" md-padding ng-if="!loading && can.createAny">
                                    <md-input-container flex>
                                        <label>Atribuir Configuração de Taxa para usuário</label>
                                        <md-select name="user" ng-model="tax.created_by" ng-disabled="tax.id">
                                            <md-option></md-option>
                                            <md-option ng-repeat="user in users | orderBy:'name' track by user.id" ng-value="user.id">{{user.name }} <b>{{ (user.owner.cnpj || user.owner.cpf || '') }}</b></md-option>
                                        </md-select>
                                        <!--<small class="hint">Esta configuração de taxa será cadastrada para este usuário. Se deixar o campo em branco, será cadastrada para você mesmo.</small>-->
                                        <div ng-messages="editForm.user.$error" multiple ng-if='editForm.user.$dirty'>
                                            <div ng-message="required">Este campo é obrigatório.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <md-tabs md-border-bottom md-dynamic-height md-selected="tabSelected">
                                    <md-tab ng-repeat="paymentMethod in paymentMethods" md-on-select="setPaymentMethodOnTax(paymentMethod)" ng-disabled="tax.id">
                                        <md-tab-label>{{paymentMethod.name}}</md-tab-label>
                                        <md-tab-body>
                                            <ng-include src="getPaymentMethodSrc(paymentMethod)"></ng-include>
                                        </md-tab-body>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </div>
                    </div>
                </md-card>
            </article>
        </div>
    </div>
</div>
