<div class="page page-points-of-sale">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header"><md-icon>dock</md-icon> POS</h2>
        </div>
        <div class="col-md-12">
            <article>
                <md-card class="no-margin-h">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Edição</span>
                        </div>
                    </md-toolbar>
                    <div class="panel-body padding-xl">
                        <div class="row">
                            <div class=" col-lg-8 col-lg-offset-2">
                                <div layout="column" ng-cloak class="md-inline-form">
                                    <div layout-padding>
                                        <form name="editForm" ng-submit="save()">

                                            <div ng-if="pointOfSale.photo_url" layout-sm="column">
                                                <md-input-container layout="row" layout-align="center center" flex>
                                                    <img ng-src="{{ pointOfSale.photo_url }}" class="img-circle img250_250">
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container layout="row" layout-align="center center" flex>
                                                    <md-button ng-hide="pointOfSale.photo_url" id="cloudinary-uploader" class="md-raised">Enviar imagem <md-icon>file_upload</md-icon></md-button>
                                                    <md-button ng-show="pointOfSale.photo_url" ng-click="removeImage()" class="md-raised md-warn">Remover imagem <md-icon>close</md-icon></md-button>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Tipo</label>
                                                    <md-select name="type" ng-model="pointOfSale.type" aria-label="select" required>
                                                        <md-option ng-repeat="type in types track by type.value" ng-value="type.value">{{type.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.type.$error" multiple ng-if='editForm.type.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Operadora</label>
                                                    <md-select name="operator" ng-model="pointOfSale.operator_id" aria-label="select" required>
                                                        <md-option ng-repeat="operator in operators track by operator.id" ng-value="operator.id">{{operator.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.operator.$error" multiple ng-if='editForm.operator.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Código</label>
                                                    <input name="code" ng-model="pointOfSale.code" ng-pattern="/^[A-Za-z0-9\-]+$/" required>
                                                    <div ng-messages="editForm.code.$error" multiple ng-if='editForm.code.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                        <div ng-message="pattern">O Código deve ser entrado em traços, números e(ou) letras. Não são permitidos caracteres especiais.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>{{ (isLending()) ? 'Mensalidade' : 'Valor' }}</label>
                                                    <input name="value" ng-model="pointOfSale.value" ui-money-mask  required>
                                                    <div ng-messages="editForm.value.$error" multiple ng-if='editForm.value.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                        <div ng-message="pattern">{{ (isLending()) ? 'A Mensalidade deve ser entrada' : 'O Valor deve ser entrado' }} em números e ponto como separador decimal.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div ng-if="isLending()" layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Dia Vencimento</label>
                                                    <md-select name="dueDay" ng-model="pointOfSale.due_day" ng-disabled="!pointOfSale.due_month" aria-label="select" required>
                                                        <md-option ng-repeat="day in days" ng-value="day">{{day}}</md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <md-input-container flex>
                                                    <label>Mês Vencimento</label>
                                                    <md-select name="dueMonth" ng-model="pointOfSale.due_month" ng-change="getDays()" aria-label="select" required>
                                                        <md-option ng-repeat="month in months" ng-value="month.value">{{month.name}}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>EC/PV</label>
                                                    <input name="ecPv" ng-model="pointOfSale.ec_pv" ng-pattern="/^[0-9\-\.]+$/">
                                                    <div ng-messages="editForm.ec_pv.$error" multiple ng-if='editForm.ec_pv.$dirty'>
                                                        <div ng-message="pattern">O EC/PV deve ser entrado em traços, pontos e(ou) letras. Não são permitidos caracteres especiais.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <md-checkbox ng-model="pointOfSale.active" ng-checked="pointOfSale.active" class="md-primary" aria-label="Ativa">
                                                        Ativo
                                                    </md-checkbox>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column" ng-if="!pointOfSale.active">
                                                <md-input-container flex>
                                                    <label>Protocolo de Cancelamento</label>
                                                    <input name="cancellationProtocol" ng-model="pointOfSale.cancellation_protocol" required>
                                                    <div ng-messages="editForm.cancellation_protocol.$error" multiple ng-if='editForm.cancellation_protocol.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>

                                                <md-input-container flex>
                                                    <label>Data de Cancelamento</label>
                                                    <md-datepicker name="cancellationDate" ng-model="pointOfSale.cancellation_date" md-open-on-focus required></md-datepicker>
                                                    <div ng-messages="editForm.cancellation_date.$error" multiple ng-if='editForm.cancellation_date.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <md-button type="submit" class="md-raised btn-w-md md-primary" ng-hide="saving" ng-disabled="editForm.$invalid">Salvar</md-button>
                                            <md-progress-circular ng-show="saving" md-diameter="25px"></md-progress-circular>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </article>
        </div>
    </div>
</div>
