<div class="page page-flags">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header"><md-icon>credit_card</md-icon> Bandeiras</h2>
        </div>
        <div class="col-md-12">
            <article>
                <md-card class="no-margin-h">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <span>Edição</span>
                        </div>
                    </md-toolbar>
                    <div class="panel-body padding-xl">
                        <div class="row">
                            <div class=" col-lg-8 col-lg-offset-2">
                                <div layout="column" ng-cloak class="md-inline-form">
                                    <div layout-padding>
                                        <form name="editForm" ng-submit="save()">

                                            <div ng-if="flag.photo_url" layout-sm="column">
                                                <md-input-container layout="row" layout-align="center center" flex>
                                                    <img ng-src="{{ flag.photo_url }}" class="img-circle img250_250">
                                                </md-input-container>
                                            </div>
                                            <div layout layout-sm="column">
                                                <md-input-container layout="row" layout-align="center center" flex>
                                                    <md-button ng-hide="flag.photo_url" id="cloudinary-uploader" class="md-raised">Enviar imagem <md-icon>file_upload</md-icon></md-button>
                                                    <md-button ng-show="flag.photo_url" ng-click="removeImage()" class="md-raised md-warn">Remover imagem <md-icon>close</md-icon></md-button>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Nome</label>
                                                    <input name="name" ng-model="flag.name" required>
                                                    <div ng-messages="editForm.name.$error" multiple ng-if='editForm.name.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label>Modalidade</label>
                                                    <md-select name="payment_method" ng-model="flag.payment_methods_id" aria-label="select" required>
                                                        <md-option ng-repeat="paymentMethod in paymentMethods track by paymentMethod.id" ng-value="paymentMethod.id">{{paymentMethod.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="editForm.paymentMethod.$error" multiple ng-if='editForm.paymentMethod.$dirty'>
                                                        <div ng-message="required">Este campo é obrigatório.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <!--
                                            <div layout layout-sm="column">
                                                <md-input-container flex>
                                                    <label></label>
                                                    <md-checkbox ng-model="flag.has_transaction_tax" ng-checked="isChecked()" class="md-primary" aria-label="Possui tarifa de transação">
                                                        Possui tarifa de transação
                                                    </md-checkbox>
                                                </md-input-container>
                                            </div>
                                            -->

                                            <md-button type="submit" class="md-raised btn-w-md md-primary" ng-hide="saving" ng-disabled="editForm.$invalid">Salvar</md-button>
                                            <md-progress-circular ng-show="saving" md-diameter="25px"></md-progress-circular>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </article>
        </div>
    </div>
</div>
