<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0 }">
        <a href="#!/">
            <span class="logo-icon material-icons"><img src="assets/images/icon.png" alt=""></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li><md-button class="header-btn toggle-min" data-toggle-nav-collapsed-min aria-label="toggle-nav-collapsed-min"><i class="material-icons">menu</i></md-button></li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
            <li>
                <md-button class="header-btn" aria-label="menu" ng-disabled="true" ng-if="!notifications.length">
                    <i class="material-icons">notifications</i>
                </md-button>
                <md-menu md-position-mode="left bottom" ng-if="notifications.length">
                    <md-button class="header-btn notification-button" aria-label="menu" ng-click="$mdMenu.open($event)">
                        <i class="material-icons">notifications</i>
                        <span class="badge">{{ notifications.length }}</span>
                    </md-button>
                    <md-menu-content class="top-header-dropdown" width="4">
                        <md-list class="md-dense">
                            <md-list-item class="md-2-line" ng-click="null" ng-repeat="notification in notifications">
                                <md-icon class="material-icons">{{ notification.icon }}</md-icon>
                                <div class="md-list-item-text">
                                    <h3><b>{{ notification.client_name }}</b> {{ notification.text }}</h3>
                                    <p><a href="#">Pedido #{{ notification.order }}</a></p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-menu-content>
                </md-menu>
            </li>
            <li>
                <md-menu md-position-mode="target-right target">
                    <md-button class="header-btn" aria-label="menu" ng-click="$mdMenu.open($event)">
                        <img ng-src="{{myUser.photo_url || 'assets/images/default-user.png'}}" alt="" class="img-circle img40_40">
                    </md-button>
                    <md-menu-content class="top-header-dropdown" width="3">
                        <md-menu-item>
                            <md-button aria-label="menu" ui-sref="users.edit({id: myUser.id })"><md-icon class="material-icons">assignment_ind</md-icon><span>Meu Perfil</span></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="menu" ng-click="logout()"><md-icon class="material-icons">keyboard_tab</md-icon><span>Sair</span></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
        </ul>
    </div>
</header>
