
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li><a md-button aria-label="menu" ui-sref="ultimos-pedidos"><i class="material-icons">trending_up</i><span>Últimos Pedidos</span></a></li>

        <li ng-show="hasPerm('CREATE_USERS') || hasPerm('READ_USERS')">
            <a md-button aria-label="menu" href="javascript:void(0);"><i class="material-icons">supervisor_account</i><span>Usuários</span></a>
            <ul>
                <li ng-if="hasPerm('CREATE_USERS')"><a md-button aria-label="menu" ui-sref="users.create"><i class="fa fa-circle"></i><span>Criar</span></a></li>
                <li ng-if="hasPerm('READ_USERS')"><a md-button aria-label="menu" ui-sref="users.list"><i class="fa fa-circle"></i><span>Listar</span></a></li>
            </ul>
        </li>
    </ul>
</div>
